.header {
    display: flex;
    background-color: black;
    color: white;
    width: 1728px;
    height: 143px;
}

.header-txt {
    width: 371px;
    height: 96px;
    margin-top: 18px;
    margin-left: 47px;
}

.header-txt-text1 {
    display: block;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;

}

.header-txt-text2 {
    display: block;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.header-list-img {
    width: 744px;
    height: 64px;
    margin-top: 45px;
    margin-left: 140px;
    border: 1px;

}

.header-list-ul {
    display: flex;
    list-style-type: none;
    margin-top: -50px;

    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.preview {
    width: 700px;
    height: 264px;
    margin-top: 90px;
    margin-left: 184px;

    font-family: Inter;
    font-size: 36px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.preview-description-img {
    width: 864px;
    height: 436px;
    margin-top: -151px;
    margin-left: 529px;
}

.preview-advantages {
    width: 1728px;
}

.preview-advantages-text {
    color: #FF0900;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 15px;
}

.preview-advantages-buttons {
    display: flex;
    list-style-type: none;
    width: 778px;
    margin-top: 45px;
    margin-left: 427px;
}

.preview-advantages-btn {
    margin-right: 40px;
    border: none;
    background: none;
}